html * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #38302e;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 5px;

    background-color: #ccdad1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239caea9' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;

    padding: 0px;
    text-align: center;
    /*border: dashed 2px #9caea9;*/
}

nav.site {
    grid-column: 1 / span 3;
    grid-row: 2;

    text-align: center;
    border: dashed 2px #9caea9;
}

main {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    grid-template-rows: repeat(3, 1fr) ;
    grid-template-areas: "page-navigation" "content" "sidebar";
    background-color: #9caea9;
    padding: 5px;
    margin-top: 5px;
}


footer {

    grid-column: span 3;
    grid-row: 4;

    padding: 5px;
    text-align: center;
    font-weight: bold;
    border: dashed 2px #9caea9;
}

aside.page-navigation {
    grid-area: page-navigation;
    background-color: #788585;
    color: #ccdad1;
    margin-top: 5px;
}

aside.related-information {
    grid-area: sidebar;
    margin-top: 5px;
    background-color: #788585;
    padding: 5px;
    text-align: center;
    font-style: italic;
}


section.content {
    grid-area: content;
    padding: 5px;
    margin-top: 5px;
    background-color: #788585;
}


.collection {
    display: block;
}

article {
    background-color: #ccdad1;
    padding: 5px;
    margin-top: 5px;
}


nav.page ul li a {
    color: #ccdad1;
}

nav.site ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

nav.site ul li a {
    color: #9a6d38;
}

.left-align {
    float: left;
    margin: 0px 15px 15px 0px;
}


.floating-block::after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}


@media (min-width: 550px) {
    main {
        grid-template-areas: "content content page-navigation" 
                             "content content sidebar";
    }
    .collection {
        display: flex;
    }
    .right-align {
        float: right;
        margin: 0px 15px 15px 0px;
    }
}